root = true

# Для всех файлов используем unix-совместимые переносы строк
[*]
charset = utf-8
indent_style = tab
indent_size = 4
insert_final_new_line = true

# Только для package.json
[{package.json, yarn.lock}]
indent_style = space
indent_size = 2
