.foo {
	&:hover > .bar {
		content: "qux";
	}
}

.block {
	&__element {
		&:checked ~ .sub-block {
			position: relative;
		}
	}
}

.sub-block {
	&__element {
		&:focus + span {
			content: "focusin";
		}
	}
}
